<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email</title>
</head>
<body style="
    background-color: #f8fafa; 
    display: flex;
    flex-direction: column;
    align-items: center;">

    <div style="
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top:15px;">
        <img 
        src="https://dreamlabstorage.blob.core.windows.net/email-templates/Logo%20Negro%20con%20Borde%20Blanco.png" 
        style="height: 30px; width: 30px; padding-right: 7px;">
        <h2 style="font-family: 'Karla', sans-serif; letter-spacing: -0.5px;">DREAM Lab</h2>
    </div>
    

    <div style="
        width:90%;
        border-radius:8px;
        
        padding:20px;
        border:1px solid #eee;
        background-color: white;
        margin-bottom: 20px;"
    >

        <h3 style="font-family: 'Karla', sans-serif; margin-top: 0px;">
            Tu solicitud de reserva ha sido denegada
        </h3>

        <p style="font-family: 'Karla', sans-serif;">
            Desafortunadamente, ha habido demasiadas solicitudes para espacio en la sala {{sala}} 
            para el día {{fecha}} de {{horaInicio}} a {{horaFin}}.
        </p>

        <p style="font-family: 'Karla', sans-serif;">
            Por favor, siéntete libre hacer otra solicitud en un espacio con menos demanda 
            y recuerda que cumplir con logros en la página y con los códigos de conducta del 
            DREAM Lab te dará puntos de prioridad para tus próximas solicitudes.
        </p>

        <p style="margin-bottom: 0px; font-family: 'Karla', sans-serif;">
            Sigue soñando,
        </p>
        <p style="margin: 0px; font-weight: bold; font-family: 'Karla', sans-serif;">
            DREAM Lab
        </p>

    </div>


</body>
</html>
